@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplayRegular.otf') format('opentype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sf-pro-display: 'SF Pro Display', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.title-text {
  font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
  color: #ffffff; /* Ensure text is white for visibility against background */
  font-size: 2rem; /* You can adjust the font size as needed */
  font-weight: 800; /* Medium weight */
  letter-spacing: 1.3px; /* Optional: Adds a subtle spacing for improved readability */
}
body {
  color: #1e3c58;
  background: var(--background);
  font-family: var(--font-sf-pro-display);
  letter-spacing: 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background: linear-gradient(45deg, #5a82b1, #689bc8, #78b0d6, #a5dcfa, #86c3e1, #b0e2f5, #5a82b1);
  background-size: 400% 400%;
  animation: gradient-x 15s ease infinite;
}

/* Butterfly animation */
@keyframes fly {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(200px, -200px) rotate(20deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* Bubble animation */
@keyframes bubble-float {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.bubble-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bubble {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0.7;
}

.bubble-1 {
  left: 20%;
  animation: bubble-float 6s ease-in infinite;
}

.bubble-2 {
  left: 50%;
  animation: bubble-float 8s ease-in infinite;
}

.bubble-3 {
  left: 80%;
  animation: bubble-float 7s ease-in infinite;
}
